@using Creo.ViewModels.Official
@model Creo.ViewModels.MeetingAttendance.MeetingAttendanceList

@{
    ViewBag.Title = "Home Page";
}

<h2>Councilor Attendance</h2>

<div class="container-fluid">
	<table class="table">
		<thead>
		<tr>
			<th scope="col" style="width: 120px;"></th>
			<th scope="col">Name</th>
			<th scope="col">Attendance</th>
		</tr>
		</thead>
		<tbody>
		@foreach (OfficialListItem attendee in Model.Attendees)
		{

			<tr data-id="@attendee.Id">
				<td>
					@if (!string.IsNullOrEmpty(attendee.ProfileImageUrl))
					{
						<img src="@attendee.ProfileImageUrl" alt="@attendee.Name" style="display: inline-block; width: 100px; height: auto; border-radius: 50%;" />
					}
				<td>@attendee.Name</td>
				</td>
				<td>
					@attendee.Attendances
				</td>
			</tr>
		}
		</tbody>
	</table>
</div>


@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Yo, Sean this should be a good starting template. I made it dot net framework instead of core, because framework is a bit more mature which means immediate development will hopefully be quicker and the improved light weightness of dot net core probably wouldn't become a factor with 2 days of dev time. </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@